```gitignore
# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Build
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Ruff / mypy
.ruff_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform variables sensitive
*.auto.tfvars

# Terraform lock
# (normalmente você COMMITA esse)
# .terraform.lock.hcl

# =========================
# Lambda artifacts
# =========================
*.zip

# =========================
# LocalStack
# =========================
.localstack/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log
```
